@import "tailwindcss";
@import "tw-animate-css";

.theme-dark {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.theme-light {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

html, body, #root {
  min-height: 100vh;
  background: #BDC3C7;
  background: linear-gradient(90deg, rgba(189, 195, 199, 1) 55%, rgba(44, 62, 80, 1) 100%);
  background-attachment: fixed;
  background-size: cover;
}
